{% extends "index.html"%}
{% block start %}

<nav style="display: flex; 
            justify-content: space-around; 
            background-color: #95bdef; 
            padding-left: 20px; 
            padding-right: 20px; 
            padding-top: 10px; 
            width: 100%; 
            position: fixed; 
            top: 0; 
            z-index: 1000; 
            left: 0;
            ">

<h1 style="color: black;"><i class="fa-solid fa-house"></i> Expense Tracker</h1>
<h4 style="margin-top: 20px; 
          display: flex; 
          gap: 10px; 
          color: black;

          "><i style="font-size: 20px; padding-top: 1px;" class="fa-solid fa-circle-user"></i>User Name:
          <span style="font-size: 15px; margin-top: 1px; color: rgb(139, 77, 14);">{{request.user.first_name}} {{request.user.last_name}}</span>
        </h4>

         <!-- {{request.user.username}} -->

<a  class="btn" style="background-color: brown;
                       width: 100px; 
                       text-decoration: none; 
                       font-weight: bold;" 
                       href="{% url 'logout_view' %}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>

</nav>


<div style="
            padding: 50px; 
            background-color: #95bdef; 
            border-radius: 5px; 
            margin: 20px;
            margin-top: 120px;

            ">
    
    <div class="container">
        <div class="header">
            <img src="https://i.ibb.co/jfScDTC/budget.png" alt="Expense Tracker"/>
            <div class="balance-container">
                <h2>Your Balance</h2>
                <h2 id="balance" class="balance"><i class="fa-solid fa-wallet"></i>{{current_balance.current_balance}}</h2>
            </div>
        </div>
        <div class="inc-exp-container">
            <div>
                <h4>Income</h4>
                <p id="money-plus" class="money plus"><i class="fa-solid fa-indian-rupee-sign"></i> {{income}}</p>
            </div>
            <div>
                <h4>Expenses</h4>
                <p id="money-minus" class="money minus"><i class="fa-solid fa-indian-rupee-sign"></i> {{expense}}</p>
            </div>
        </div>

        <div>
        <h3>History</h3>

        <ul id="list" class="list">
            {% for transaction in transactions %}

            <li class="{% if transaction.expense_type == 'DEBIT' %} minus {% else %} plus {% endif %}">
                {{transaction.description}} <span> {{transaction.amount}} </span>
                <a class="delete-btn" href="{% url 'delete_transaction' transaction.id %}">
                    <i class="fas fa-trash-alt"></i></a>
            </li>

            {% endfor %}
        </ul>
        </div>

        <h3>Add new transaction</h3>
        <form method="POST" id="form">
            {% csrf_token %}
            <div class="form-control">
                <label for="text">Description</label>
                <input type="text" name="description" id="text" placeholder="Enter description..." />
            </div>
            <div class="form-control">
                <label for="amount">Amount <br />
                    <small>(-100 = expense, 100 = income)</small></label>
                <input type="number" name="amount" id="amount" placeholder="Enter amount..." />
            </div>
            <button class="btn" type="submit">Add transaction</button>
        </form>
    </div>
    <!-- Notification -->
    <div class="notification-container" id="notification">
        <p>Please add a description and amount</p>
    </div>

    </div>


    {% endblock %}